html{
    background-color: #c6c6c6;
}
.searchContact{
    background-color: transparent;
    border-bottom: 2px solid #2a2a2a89;
    outline: none;
    padding: 0 4px;
}
.contact-slice{
    background: linear-gradient(100deg, rgb(101, 101, 179), rgb(62, 57, 76));
}